head
  meta(name='viewport' content='width=device-width, initial-scale=1')
.header
  a.logo(href='/') 00010088
  .header-right
    a(href='/students') View Current Students
    a(href='/alumni') View Alumni
    a(href='/api/v1/students') RestAPI