extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Students' List App
    div.Message
      div.Title
        h1 Add/Delete Students
        h1 Update Students Info
      span.Details Move Alumni To the Alumni List
        a(href="/students/add-student")
          div.NavButton Add new Student